{% extends "resources_2054/base.html" %}

{% block title %}
    <title>Computers</title>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h1> Computers </h1>
                    <form action="{% url 'dp_comps' dp=dp %}" method="GET">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><button type="submit" class="btn btn-primary btn-sm">Поиск</button></p>
                    </form>
                    {% for comp in filtered %}
                        <a href="{% url 'dp_comp_details' pk=comp.id %}">{{ comp }}</a></br>
                    {% endfor %}
            </div>
            <div class="col">
                <h1>Hello1</h1>
            </div>
        </div>
    </div>
</body>
{% endblock %}